# --- IGNORE FOLDERS (Massive Data) ---
Processed_Database/
Backups/
__pycache__/

raw data/
Manual_Uploads/

# --- IGNORE DATA FILES ---
*.pdf
*.png
*.jpg
*.jpeg
*.zip
*.msi

# --- IGNORE EXCEL/DB (Keep local) ---
*.xlsx
*.csv

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db