# --- IGNORE FOLDERS (Massive Data) ---
Processed_Database/
Backups/
__pycache__/
Flutter/study_smart_qc/ScreenRecording/
raw data/
Manual_Uploads/

# --- IGNORE DATA FILES ---
*.pdf
*.png
*.jpg
*.jpeg
*.zip
*.msi

# --- IGNORE EXCEL/DB (Keep local) ---
*.xlsx
*.csv
*.webm
*.mp4
*.mp3

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db
serviceAccountKey.json